<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LogPath" value="D:\ADNach\Logs\"/>
    <add key="LogEnable" value="Y"/>
    <add key="ACHDRDestUplINW" value="D:\ACHDR\TXNINW\"/>
    <add key="ACHDRDestUplINWCBSRES" value="D:\ACHDR\CBSSTATUS"/>
    <add key="SMSTable" value="SMS_TABLE_25"/>
    <add key="NachOutward" value="NACHOUTWARD_25"/>
    <add key="NachTxnOutward" value="NACHTXNOUTWARD_25"/>
    <add key="NachTxnInward" value="NACHTXNINWARD_25"/>
    <add key="Feedid" value="384510"/>
    <add key="username" value="9836159737"/>
    <add key="password" value="bkbwyHuA"/>
    <!--<add key="SMSAuthKey" value="2JPi4d0WP0+Nd0dSaCzSepHzIOQy2FMNRid5qBnls795llF8XL3oA33+IzcoFG2i"/>
    <add key="SMSEncryKey" value="QosghajadFSooKuEm9u2oOZVNJtURJqv"/>-->
    <add key="SMS_URL" value="https://bulkpush.mytoday.com/BulkSms/SingleMsgApi?"/>
  </appSettings>
  <connectionStrings>
    <add name="NACH_DB" connectionString="Data Source=192.168.100.87:1521/orcl19c;Persist Security Info=True;User ID=UCONACH;Password=adroit11;Max Pool Size=200;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>